---
import { prisma } from "../../../db";
import AdminLayout from "../../../layouts/AdminLayout.astro";
import AdvancedTable from "../../../components/admin/AdvancedTable.astro";

const pages = await prisma.post.findMany();

const fields = [
  { name: "title", label: "Titre" },
  { name: "published", label: "Etat" },
];

const items = pages.map((page) => {
  return {
    id: page.id,
    slug: page.slug,
    fields: [
      {
        name: "title",
        value: page.title,
      },
      {
        name: "published",
        value: page.published ? "Brouillon" : "Publié",
      },
    ],
  };
});
---

<AdminLayout>
  <header class="p-3 sm:p-5">
      <h1 class="mb-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white">Liste des pages</h1>
  </header>

  <AdvancedTable fields={fields} items={items} />
</AdminLayout>
