---
import FrontLayout from "../layouts/FrontLayout.astro";

---
<FrontLayout title="Page introuvable">
  <div>
    <h1>Page introuvable</h1>
    <p>La page que vous recherchez n'existe pas.</p>
  </div>
</FrontLayout>