---
import { getEntryBySlug } from "astro:content";
import FrontLayout from "../layouts/FrontLayout.astro";

// For static output
// export async function getStaticPaths() {
//   const pageEntries = await getCollection("pages");

//   return pageEntries.map((entry) => ({
//     params: { slug: entry.slug },
//     props: { entry },
//   }));
// }

// For dynamic output
const { slug } = Astro.params;
if(!slug) return Astro.redirect("/404");

const entry = await getEntryBySlug("pages", slug);
if(!entry) return Astro.redirect("/404");

const { Content } = await entry.render();
---

<FrontLayout title={entry.data.title}>
  <h2>{entry.data.title}</h2>
  <Content />
</FrontLayout>
